<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Shoppre</title>

</head>

<body>
  <header>
    <div class="wrapper">
      <h1>Shoppre.com 
        <span class="color">.</span>
        <sub>Delivering happiness</sub>
      </h1>
     
      <nav>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
      </nav>
    
    </div>
  </header>

  <div id="hero-image">
    <div class="wrapper">
      <h2>
        <strong>Borderless shipping from India</strong>
        <a href="#" class="button-1">Get Started</a>
        <br/>Shop from India ship worldwide!</h2>
     
    </div>
  </div>
  <div id="features">
    <div class="wrapper">
      <ul>
        <li class="feature-1">
          <h4>Easy to Order and Delivery</h4>
          <p>Door to Door Pickup and International & Domestic Delivery.
            
            Receive your FREE Personal Locker and Virtual Shipping Address in India!</p>
        </li>
        <li class="feature-2">
          <h4>SHOP AND SHIP</h4>
          <p>
            Always wanted to get products from India?
            Sign up for free and get your own Indian shipping address. Shop from any Indian online store. Enjoy our storage facilities, get your purchases consolidated and delivered at your doorstep abroad.</p>
        </li>
        <li class="feature-3">
          <h4>PERSONAL SHOPPER</h4>
          <p>Your International Credit Card isn’t accepted on some portals?
            Simply provide us the product and merchant details; our Personal Shopper will purchase the items for you and get what you love!</p>
        </li>
        <li class="feature-4">
          <h4>SHOPPING GUIDE</h4>
          <p>Don’t know where to shop the product that you need from?
            We are there to help you through our various filters to select which portal you can shop your favorite product from.</p>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
  <div id="primary-content">
    <div class="wrapper">
      <article>
        <h3>Featured Content</h3>
        <p>SHIPPING FROM INDIA - PRICING
          We have heavily optimised our operations to give you the best deal. Our pricing makes us a favourite platform for Indian shoppers worldwide. </p>
        <a href="#">
          <img src="images/video-placeholder.jpg" alt="video placeholder" />
        </a>
      </article>
    </div>
  </div>

  <div id="secondary-content">
    <div class="wrapper">
      <article style="background-image: url('images/article-image-1.jpg');">
        <div class="overlay">
          <h4>NO MEMBERSHIP PLANS</h4>
          <p>
            <small>NO MEMBERSHIP PLANS
              Pay only as and when you use our services!</small>
          </p>
          <a href="#" class="more-link">View more</a>
        </div>
      </article>
      <article style="background-image: url('images/article-image-2.jpg');">
        <div class="overlay">
          <h4>SHIPPING RATE CALCULATOR</h4>
          <p>
            <small>
              Find out how much it would cost you for shipping your favorite product to your home abroad.</small>
          </p>
          <a href="#" class="more-link">View more</a>
        </div>
      </article>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">
  <div class="panel panel-primary">
      <div class="panel-heading">
          <h3 class="panel-title">Add to cart</h3>
      </div>
      <div class="panel-body">
          <div class="radio">
              <label><input type="radio" name="optradio">Fashion</label>
          </div>
           <div class="radio">
              <label><input type="radio" name="optradio">Footware</label>
          </div>
          <div class="radio">
              <label><input type="radio" name="optradio">Grocery</label>
          </div>
          <div class="radio">
              <label><input type="radio" name="optradio">Electronics</label>
          </div>
      </div>
      <div class="menu-item">
          <img *ngIf ="electronics" src="../assets/electronics.jpg">
          <img *ngIf ="footware" src="../assets/footware.jpg">
          <img *ngIf ="fashion" src="../assets/fashion.jpg">
          <img *ngIf ="grocery" src="../assets/grocery.jpg">
        </div>
    
  </div>
  </div>
  <div id="cta">
    <div class="wrapper">
      <h3>Heard Enough?</h3>
      <h4>So what are you waiting for? Shopp re! Open your big box of happiness today!
        </h4>
      <a href="#" class="button-2">Get Started</a>
    </div>
  </div>
  <footer>
    <div class="wrapper">
      <div id="footer-info">
        <p>Copyright 2018 Shoppre.com All rights reserved.</p>
        <p>
          <a href="#">Terms of Service</a> I
          <a href="#">Privacy</a>
        </p>
      </div>
      <div id="footer-links">
        <ul>
          <li>
            <h5>Company</h5>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Meet The Team</a>
          </li>
          <li>
            <a href="#">What We Do</a>
          </li>
          <li>
            <a href="#">Careers</a>
          </li>
        </ul>
        <ul>
         
          <li>
            <a href="#">Browser category</a>
          </li>
          <li>
            <a href="#">Shopree review</a>
          </li>
          <li>
            <a href="#">Make payment</a>
          </li>
          <li>
            <a href="#">Our Services</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </footer>
</body>

</html>